In [1]:
import mysql.connector
from mysql.connector import Error # import Error function separately to have easy access to it
print(mysql.connector.__version__)
print(mysql.connector.__path__)
import pandas as pd
from sql_functions import *

8.0.31
['/Users/jacobkritikos/opt/anaconda3/lib/python3.9/site-packages/mysql/connector']

In [2]:
# ------------------------- Connect to a my SQL Server to get Access to DBs
connection = create_server_connection("localhost", "3306", "root", "myrootpass22")
print(connection)

MySQL Database connection successful
<mysql.connector.connection.MySQLConnection object at 0x7fc4e18b0a30>

In [3]:
# ------------------------- Print Available DBs 
show_databases(connection)

['information_schema',
 'mydatabase',
 'mysql',
 'performance_schema',
 'Persons',
 'sys']

In [5]:
# ------------------------- Check is there is a particular Database
check_database(connection,"mydatabase")

We have this Database

In [6]:
# ------------------------- Create a Database and Check
create_database(connection, "mydatabase")

We have this Database

In [11]:
# ------------------------- Delete a Database
delete_database(connection,"mydatabase2")

Database deleted successfully
No such a Database

In [2]:
# ------------------------- Connecting to MySQL Server in a particular Database
connection = db_connection("localhost", "3306", "root", "myrootpass22","Persons")
print(connection)

MySQL Database connection successful
Connection successful to Persons
<mysql.connector.connection.MySQLConnection object at 0x7faf684e5a00>

In [3]:
query = """
SHOW FULL TABLES;
 """ 
myresult = execute_query_fetch(connection, query)
for x in myresult:
    print(x)

('Persons', 'BASE TABLE')
('teacher', 'BASE TABLE')

In [4]:
query = """
SHOW COLUMNS FROM teacher;
 """
myresult = execute_query_fetch(connection, query)
for x in myresult:
    print(x)

('teacher_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(40)', 'NO', '', None, '')
('last_name', 'varchar(40)', 'NO', '', None, '')
('language_1', 'varchar(3)', 'NO', '', None, '')
('language_2', 'varchar(3)', 'YES', '', None, '')
('dob', 'date', 'YES', '', None, '')
('tax_id', 'int', 'YES', 'UNI', None, '')
('phone_no', 'varchar(20)', 'YES', '', None, '')

In [5]:
query = """
ALTER TABLE teacher
DROP COLUMN language_2;
"""
execute_query_commit(connection, query)

query = """
SHOW COLUMNS FROM teacher;
 """
myresult = execute_query_fetch(connection, query)
for x in myresult:
    print(x)

Query successful
('teacher_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(40)', 'NO', '', None, '')
('last_name', 'varchar(40)', 'NO', '', None, '')
('language_1', 'varchar(3)', 'NO', '', None, '')
('dob', 'date', 'YES', '', None, '')
('tax_id', 'int', 'YES', 'UNI', None, '')
('phone_no', 'varchar(20)', 'YES', '', None, '')

In [ ]:
ALTER TABLE table_a   
ADD CONSTRAINT pk_a
PRIMARY KEY (col_b, col_c);

In [6]:
query = """
ALTER TABLE teacher
MODIFY language_1 varchar(5) NOT NULL;
"""
execute_query_commit(connection, query)

query = """
SHOW COLUMNS FROM teacher;
 """
myresult = execute_query_fetch(connection, query)
for x in myresult:
    print(x)

Query successful
('teacher_id', 'int', 'NO', 'PRI', None, '')
('first_name', 'varchar(40)', 'NO', '', None, '')
('last_name', 'varchar(40)', 'NO', '', None, '')
('language_1', 'varchar(5)', 'NO', '', None, '')
('dob', 'date', 'YES', '', None, '')
('tax_id', 'int', 'YES', 'UNI', None, '')
('phone_no', 'varchar(20)', 'YES', '', None, '')