In [1]:
import mysql.connector
from mysql.connector import Error # import Error function separately to have easy access to it
print(mysql.connector.__version__)
print(mysql.connector.__path__)
import pandas as pd
from sql_functions import *

8.0.31
['/Users/jacobkritikos/opt/anaconda3/lib/python3.9/site-packages/mysql/connector']

In [2]:
# ------------------------- Connect to a my SQL Server to get Access to DBs
connection = create_server_connection("localhost", "3306", "root", "myrootpass22")
print(connection)

MySQL Database connection successful
<mysql.connector.connection.MySQLConnection object at 0x7fc4e18b0a30>

In [3]:
# ------------------------- Print Available DBs 
show_databases(connection)

['information_schema',
 'mydatabase',
 'mysql',
 'performance_schema',
 'Persons',
 'sys']

In [5]:
# ------------------------- Check is there is a particular Database
check_database(connection,"mydatabase")

We have this Database

In [6]:
# ------------------------- Create a Database and Check
create_database(connection, "mydatabase")

We have this Database

In [11]:
# ------------------------- Delete a Database
delete_database(connection,"mydatabase2")

Database deleted successfully
No such a Database

Error: '1049 (42000): Unknown database 'test''
None

In [3]:
# ------------------------- Connecting to MySQL Server in a particular Database
connection = db_connection("localhost", "3306", "root", "myrootpass22","Persons")
print(connection)

myresult = execute_query_fetch(connection,"Show tables;")
for x in myresult:
    print(x)

MySQL Database connection successful
Connection successful to Persons
<mysql.connector.connection.MySQLConnection object at 0x7f80e883b7f0>
('teacher',)

In [ ]:
        connection = mysql.connector.connect(
            host=host_name,
            port = port_name,
            user=user_name,
            passwd=user_password
        )

In [32]:
mydb = mysql.connector.connect(
    host="localhost",
    port = "3306",
    user="root",
    password="myrootpass22",
    database="Persons"
)
 
mycursor = mydb.cursor()
 
mycursor.execute("Show tables;")

myresult = mycursor.fetchall()
 
for x in myresult:
    print(x)

('teacher',)

In [29]:
create_teacher_table = """
CREATE TABLE teacher (
  teacher_id INT PRIMARY KEY,
  first_name VARCHAR(40) NOT NULL,
  last_name VARCHAR(40) NOT NULL,
  language_1 VARCHAR(3) NOT NULL,
  language_2 VARCHAR(3),
  dob DATE,
  tax_id INT UNIQUE,
  phone_no VARCHAR(20)
  );
 """

test_queries = """
SHOW TABLES FROM Persons;
 """


#execute_query(connection, """USE Persons;""") # Execute our defined query

#execute_query(connection, create_teacher_table) # Execute our defined query

execute_query(connection,  test_queries) # Execute our defined query

Error: 'Unread result found'